# Игнорируем личные настройки редактора VS Code
.vscode/

# Игнорируем видеоролики, чтобы репозиторий не весил гигабайты
*.mp4

# игнорируем тяжелые папки с библиотеками
node_modules/
dist/
build/
.env

# Удаляем папку из отслеживания Git, но физически на ПК не трогаем
git rm -r --cached .vscode
